
 <!-- Footer -->
 
<footer class="page-footer font-small blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="https://github.com/KayseMca" target="_blank"> Mohamed Abdillahi</a>
        </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->
</body>
</html>