
<% include partials/header %>
<div id="landing-header" class="container">
        <h1>Ku Dalxiis Dalkaaga</h1>
        <p>Ku soo dhawoow Bogga Dalxiis</p>
       <a href="/campgrounds" class="btn btn-lg btn-success">Meelaha Quruxda Leh <i class="far fa-eye"></i></a>
   </div>
   
   <ul class="slideshow">
     <li></li>
     <li></li>
     <li></li>
     <li></li>
     <li></li>
     <li></li>
     <li></li>
     <li></li>
     <li></li>
     <li></li>
   </ul>
<!--<a href="/campgrounds">campgrounds</a>-->

<% include partials/footer %>