

<% include ../partials/header %>

<div class="container">
     <header class="jumbotron">
          <div class="container" style="text-align: center">
               <h1>Ku Soo dhawoow bogga Dalxiis</h1>
               <p>Qaar ka mid ah sawirada dhulka Soomaalida ee dalxiiska leh!</p>
               <p>
                    <a class="btn btn-primary btn-large" href="/campgrounds/new"> Ku dar sawir/meel dalxiis</a>
               </p>
          </div>
     </header>

     <div class="row text-center" style="display:flex; flex-wrap:wrap;">
          <% campgrounds.forEach(function(camp){ %>
               <% if(camp.image!="" && camp.name!=""){ %>
          <div class="col-md-3 col-ms-6">
               <div class="thumbnail">
                    <img src="<%= camp.image %>" width="270" height="230">
                    <div class="caption">
                         <h4><%= camp.name %></h4>
                    </div>
                    <p>
                         <a href="/campgrounds/<%= camp._id%>" class="btn btn-outline-success">Xog Faahfaahsan <i class="fas fa-info-circle"></i></a>
                    </p>
               </div>
          </div>
          <% } %>
          <% }) %>
     </div>
</div>
<% include ../partials/footer %>